@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
:root {
  --button: #00b4d8;
  --text: #e9ecef;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  height: 30%;
  width: 30%;
  background-image: linear-gradient(
    to right bottom,
    #009fff,
    #8d85f3,
    #cc61cc,
    #ec3b90,
    #ec2f4b
  );
  border-radius: 42% 58% 44% 56% / 84% 30% 70% 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50px; */
  /* background: #ec2f4b; */
  box-shadow: 20px 20px 60px #009fff, -20px -20px 60px #ff3e63;
}
button {
  background: transparent;
  color: var(--text);
  font-family: Arima;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
  margin-left: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
button:hover {
  transform: scale(1.025);
}
